/*********************
CONTACT
*********************/

.bg-contact{
  background-image: url('../img/bg-trees.jpg'); 
  background-position: center bottom; 
  background-repeat: repeat-x;
  background-color: $white;
}