/*********************
INDUSTRY
*********************/

.map-container{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: $light-grey;
    height: 400px;
    @include breakpoint(large){
        height: 500px;
    }
}

.icon{
    width: 30px;
    height: auto;
}
