/*********************
AUTHOR NAME
*********************/
.author-name{
	.name {
		color: $red;
		display: block;
		@include breakpoint($medium){
			display: inline-block;
		}
	}
	.article-time {
		font-size: .9em;
		color: $grey;
		display: block;
	}
}

/*********************
FEATURED IMAGE & CAPTION 
*********************/
.featured-image{
	position: relative;
	margin-bottom: 2em;
	background-color: $rocky-grey;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 250px;
	@include transition($transition);
	@include breakpoint($medium){
		height: 350px;
	}
	@include breakpoint($large){
		height: 450px;
		margin-bottom: 4em;
	}
	@include breakpoint($xlarge){
		height: 550px;
	}
}

.caption{
	position: absolute;
	background: $white;
	font-size: .875em;
	line-height: 1;
	padding: 10px 20px;
	color: $stone-grey;
	bottom: 0;
	right: 0; 
}


/*********************
PAGE CONTENT
*********************/
.page-title{
	@include breakpoint(large){
		margin-bottom: 2rem;
	}
}
.page-container{
	@include breakpoint(large){
		margin-right: 40px;
	}
	@include breakpoint(xlarge){
		margin-right: 130px;
	}
}

.page-content{
	
	h1, h2, h3, h4, h5, h6,
	.h1, .h2, .h3, .h4, .h5, .h6{
		font-family: $secondary_regular;
		text-transform: uppercase;
		line-height: 1.1;
	}
	h1,.h1{
		font-size: 2em;
	}

	h2, .h2{
		font-size: 1.75em;
	}

	h3, .h3{
		font-size: 1.5em;
	}

	h4, .h4{
		font-size: 1.25em;
	}

	h5, .h5{
		font-size: 1.125em;
	}

	h6, .h6{
		font-size: 1em;
	}

	@include breakpoint(medium){
		h1,.h1{
			font-size: 2.5em;
		}
	
		h2, .h2{
			font-size: 2.25em;
		}
	
		h3, .h3{
			font-size: 2em;
		}
	
		h4, .h4{
			font-size: 1.75em;
		}
	
		h5, .h5{
			font-size: 1.5em;
		}
	
		h6, .h6{
			font-size: 1.25em;
		}

		p, ul, ol{
			margin-bottom: 1.5rem;
			font-size: 1.125em;			
		}
	}


	a{
		color: $red;
		border-bottom: 1px dotted $red;
		&:hover{
			border-bottom-color: transparent;
		}
	}
	
	img {
		max-width: 100%;
		width: 100%;
		height: auto;
		vertical-align: middle;
		@include breakpoint(medium){
			max-width: 100%;
			width: auto;
		}
		&.alignright{
			margin: 10px 0 25px 25px;
		}
		&.alignleft{
			margin: 10px 25px 25px 0;
		}
		&.aligncenter{
			margin: 1em 0 2em;
		}
		@include breakpoint(medium){
			&.alignleft,
			&.alignright{
				margin-bottom: 10px;
			}
		}
	}
	

	.image-with-caption{
		margin: 2.5em 0;
		position: relative;
	}


	.alignright {
		float: right;
	}
	.alignleft {
		float: left;
	}
	.aligncenter{
		float: none;
		text-align: center;
	}

	blockquote{
		border: none;
		border-top: 1px solid $black;
		border-bottom: 1px solid $black;
		padding: 2em 1em;
		margin: 2em 0;
		color: $black;
		text-align: center;
		@include breakpoint(large){
			margin: 3.75em 0;
			padding: 3.75em 2em;
		}
		p{
			font-size: 2em;
			line-height: 1;			
			text-transform: uppercase;
			font-family: $secondary_regular;			
			color: $black;
			quotes: "“" "”" "‘" "’";
			&:before{
				content: open-quote;
			}
			&:after {
				content: close-quote;
			}
			@include breakpoint(large){
				font-size: 2.5em;
			}
		}
		.author{
			font-family: $primary_regular;
			@include breakpoint(large){
				font-size: 1.125em;
			}
		}		
	}

	.video-wrapper {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		padding-top: 25px;
		height: 0;
		margin-bottom: 2rem;
		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}


/*********************
PAGE CREDIT
*********************/

.page-credit{
	padding: 2.5em 0;
	&-title{
		font-family: $primary_bold;
		font-size: 1.125em;
		padding-bottom: 2em;
		display: block;
	}
	&-inner{
		display: flex;
		align-content: center;
		align-items: center;
	}
	&-image{
		margin-right: 20px;
		img {
			width: 100px;
			height: auto;
			border-radius: 50%;
		}
	}
	&-info{
		h3{
			text-transform: uppercase;
		}
		> div{
			font-size: .875em;
			line-height: 1.3;
		}
	}
}

/*********************
PAGE NAVIGATION
*********************/
.page-navigation{
	display: flex;
	justify-content: space-between;
	border-top: 1px solid $black;
	padding: 2em 0;
	@include breakpoint(large){
		padding: 3.125em 0;
	}
	.button-previous,
	.button-next{
		a{
			display: flex;
			flex-direction: row;
			align-items: center;
			font-family: $secondary_regular;
			text-transform: uppercase;
			font-size: 0;
			@include breakpoint(medium){
				font-size: 1.125em;
			}
		}
	}

}

.button-previous,
.button-next{
	a{	
		display: block;
		&:before,
		&:after{
			content: "";
			background-image: url(../img/graphics/arrow.svg);
			background-size: 8px 8px;
			background-repeat: no-repeat;
			background-position: 50%;
			width: 40px;
			height: 40px;
			opacity: 1;
			font-size: 0;
			display: block;
			background-size: 10px 10px;
			border: 1px solid $black;
			@include transition($transition);
		}
		&:hover{
			&:before,
			&:after{
				background-color: $light-grey;
			}
		}
	}
}

.button-previous{
	a{
		&:before{
			@include transform(rotate(-180deg));
			margin-right: 10px;
		}
		&:after{
			display: none;
		}
	}
}

.button-next{
	a{
		&:before{
			display: none;
			
		}
		&:after{
			margin-left: 10px;
		}
	}
}