/*********************
TYPOGRAPHY
*********************/ 
body {
  font-family: $primary_regular;
}

 
h1, h2,
.h1, .h2{
  font-family: $secondary_bold;
}
  
h3, h4, h5, h6,
.h3, .h4, .h5, .h6{
  font-family: $secondary_regular;
}

h1,h2,h3,
.h1, .h2, .h3{
  line-height: 1;
} 
  
h1, .h1 {
  font-size: 2.75em;
}

h2,.h2 {
  font-size: 2.75em;
}

h3 {
  font-size: 1.65em;
}

h4 {
  font-size: 1.45em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1.15em;
}

.section-title{
  font-size: 1.375em;
  color: $red;
  text-transform: uppercase;
  font-family: $secondary_bold;
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 20px;
  &:before,
  &:after{
    content: '';
    display: flex;
    width: 12px;
    height: 20px;
    background: $red;
  }
  &:before{
    margin-right: 10px;
  }
  &:after{
    margin-left: 10px;
  }
}

p{
  &.intro{
    font-family: $primary_bold;
    font-size: 1.125em;
    line-height: 1.4;
  }
}

b, strong{
  font-family: $primary_bold;
}

ol{
  &.leading-zero{
    margin-left:0;
    list-style-type: none;
	  counter-reset: li;
    li{
      &:before{
        counter-increment: li;
        content: counter(li, decimal-leading-zero) ". ";
        margin-right: 0.25em;
      }
    }
  }
}

.primary-bold{
  font-family: $primary_bold;
}

.secondary-bold{
  font-family: $secondary_bold;
  letter-spacing: .02em;
}

.font-size{
  &-1{
    font-size: 1em;
  }
  &-2{
    font-size: 1.375em;
  }
  &-3{
    font-size: 1.5em;
  }
}


@include breakpoint(medium){
  h1,h2,h3,
  .h1, .h2, .h3{
    line-height: .86;
  } 

  h1, .h1 {
    font-size: 5em;
  }

  h2, .h2 {
    font-size: 4.25em;
  }

  h3, .h3 {
    font-size: 1.85em;
  }

  h4, .h4{
    font-size: 1.65em;
  }

  h5, .h5 {
    font-size: 1.45em;
  }

  h6, .h6 {
    font-size: 1.25em;
  }

  p{
    &.intro{
      font-size: 1.375em;
    }
  }

  .section-title{
    font-size: 1.625em;
  }
}


@include breakpoint(large){
  h1, .h1 {
    font-size: 6.75em;
  }

  h2, .h2 {
    font-size: 6.25em;
  }

  h3, .h3 {
    font-size: 1.85em;
  }

  h4, .h4{
    font-size: 1.65em;
  }

  h5, .h5 {
    font-size: 1.45em;
  }

  h6, .h6 {
    font-size: 1.25em;
  }

  p{
    &.intro{
      font-size: 1.625em;
    }
  }
}

@include breakpoint(xlarge){
  h1, .h1 {
    font-size: 8.75em;
  }

  h2, .h2 {
    font-size: 6.25em;
  }

  h3, .h3 {
    font-size: 1.85em;
  }

  h4, .h4{
    font-size: 1.65em;
  }

  h5, .h5 {
    font-size: 1.45em;
  }

  h6, .h6 {
    font-size: 1.25em;
  }
}