/*********************
WIDGETS
*********************/
.sidebar{
  .widget{
    margin: 2em 0;
    &:first-of-type,
    .newsletter-box{
      margin-top: 0;
    }
    @include breakpoint(large){
      margin: 4em 0;
    }
    h2{
      padding-bottom: 1em;
      border-bottom: 1px solid $black;
      margin-bottom: 1em;
    }
  }
}
